{% extends 'base.html.twig' %}

{% block title %}Metrics{% endblock %}

{% block main %}

<div class="metrics">

    <h2>Introduktion</h2>

    <ul>
        <li>Codestyle</li>
        <p>Koden ska vara lätt att förstå och underhålla. Den ska vara enhetligt formaterad och tydliga namn ska användas för variabler.</p>
        <li>Coverage</li><p>Anger hur stor del av koden som täcks av tester.
        <li>Complexity</li><p>Mäter hur komplex koden är. En låg komplexitet är att föredra då det ger kod som är lättare att förstå och underhålla.</p>
        <li>Cohesion</li><p>Anger hur väl olika delar av koögre den hänger samman. En hög cohesion är att föredra då det innebär att varje klass har ett avgränsat ansvarsområde.
        Önskat värde på cohesion är 1, vilket tyder på att allt som finns i klassen hänger ihop. Ett högre värde på cohesion innebär att klassen har
        för många ansvarsområden vilket inte är önskvärt.
        </p>
        <li>Coupling</li><p>Anger hur beroende klasserna är av varandra. En låg coupling är att föredra då klasserna är mer fristående och lättare att underhålla, t.ex. vid buggrättning.</p>
        <li>CRAP</li><p>Ett mått på kodkvalitet baserat på komplexitet och coverage. Hög komplexitet och låg coverage ger ett högt CRAP-värde, vilket indikerar att koden kan vara svår att underhålla.</p>

    </ul>

    <h2>Phpmetrics</h2>

    <ul>
    <li>Bubbles
    </li>
    <p>Den visuella översikten av den första analysen visar på att jag har några Controller klasser som är röda, dvs de har högt Maintainability index.
    Jag kan också se att där finns en stor gul bubbla (vilken representerar klassen Game) vilket tyder på hög Cyclomatic Complexity.</p>
    <p><img src="{{ asset('img/phpmetrics_bubbles.png') }}" height="150" alt="phpmetrics" title="phpmetrics"></p>
    <li>Violations</li>
    Här får jag 2 errors, varav båda på Controllers och handlar om Single responsibility principle.
    <p><img src="{{ asset('img/metrics_violations.png') }}" width="100%" alt="violations" title="violations"></p>

    <li>Kodtäckning</li>
    Jag kan se att 13 av mina klasser ej är testade. Nästan alla dessa är Controllers vilka jag är medveten om att jag inte har tester för.
    Jag kan dessutom se högt Cyclomatic värde för CardControllerJson och DiceGameController, vilket innebär att koden är komplex. Dessa har även en större risk för buggar.

    <li>Komplexitet</li>De klasser som får högts komplexitet är Controllers.<br>Medelvärden för alla klasser:
    <p class="bold">Average weighted method count by class (CC): 6.96</p>
    <p class="bold">Average cyclomatic complexity by class: 3.29</p>
    <p class="bold">Average relative System complexity: 86.18</p>
    <p class="bold">Average bugs by class(Halstead): 0.13</p>
    <p class="bold">Average defects by class (Kan): 0.38</p>
    <br>
    Positivt att utläsa från detta är att min kod är relativt fri från buggar och skapligt stabil. <br>
    Negativt är att mina klasser har ett ganska högt antal metoder och den relativa kodkomplexiteten är hög med många interaktioner
    mellan klasser, vilket kan göra koden komplex och svårare att underhålla.


    <li>Volym</li>Även här ligger Controllers i topp och har störst volym med kod. Jag kan också utläsa att koden har ganska hög andel kommentarer.

    <li>Coupling</li>Den klass som används mest av andra klasser är Card, vilket inte var helt oväntat.
    De klasser som har flest utgående kopplingar till andra klasser är inte oväntat alla Controllers, med CardControllerJson i topp. Jag kan
    se att dessa klasser på grund av deras beroende av andra klasser har en hög instabilitet.
    </ul>

    <h3>Svagheter</h3>

    Controllers har ofta hög komplexitet. Dessa skulle eventuellt kunna delas upp i mindre för att.<br>
    Det finns brist på enhetstester för Controllers vilket ökar risken för oupptäckta buggar.<br>
    Två kontrollers brister i Single Responslbility Principle och har för många ansvardsområden.



    <h2>Scrutinizer</h2>
    Då den första rapporten var gjord fick jag följande översiktsbild. Ett resultat på 9.97 ser vid första anblick ut som ett bra resultat.
    Jag kan samtidigt se att kodtäckning endast är 31% vilket känns lågt.

    <p>
    <a href="https://scrutinizer-ci.com/g/sofan/mvc/?branch=main" target="blank"><img src="https://scrutinizer-ci.com/g/sofan/mvc/badges/quality-score.png?b=main" alt="badge" title="badge">
    <img src="https://scrutinizer-ci.com/g/sofan/mvc/badges/build.png?b=main" alt="badge" title="badge">
    <img src="https://scrutinizer-ci.com/g/sofan/mvc/badges/coverage.png?b=main" alt="badge" title="badge">
    </a>
    </p>

    <ul>
        <li>Issues</li>
        Av de issues som visas tar jag endast hänsyn till de som tillhör min kod. Jag ignorerar därför t.ex. php-cs.fixer och tänker förska filtrera bort den
        vid nästa uppdatering av koden. Det är också där som major issues finns.
        Issues på mina klasser CardHand och DeckOfCards är av klass minor och unknown och beror bland annat på bristfällig dokumentation och felaktig logik.
        <p><img src="{{ asset('img/scr_issues_1.png') }}" alt="Scrutinizer issues" title="Scrutinizer issues"></p>
        Issues i klassen Game, där jag gör en felaktig jämförelse som alltid blir false:<br>
        <p><img src="{{ asset('img/scr_issues_2.png') }}" alt="Scrutinizer issues 2" title="Scrutinizer issues 2"></p>

        <li>Komplexitet</li>
        Enligt Scrutinizer har klassen Game högst komplexitet med ett värde på 27. Klassen ser trots det ut fått godkänt.
        <p><img src="{{ asset('img/scr_game_complexity.png') }}" alt="Game class complexity" title="Game class complexity"></p>
        Vad gäller komplexitet för funktioner så har Game::checkResult() sämst betyg, och det är också den enda funktion som har fått ett B i betyg (övriga har A).
        <p><img src="{{ asset('img/scr_oper_complexity.png') }}" alt="checkResult complexity" title="checkResult complexity"></p>

        <li>Kodtäckning</li>
        Precis som i phpmetrics kan jag se att Controllers är de som till största del saknar enhetstester. Nästan alla övriga klasser har 100% kodtäckning.

        <li>CRAP</li>
        Högsta CRAP som fås är 12, vilket gäller 5 funktioner. Detta anses ändå av Scrutinizer som godkänt. Kanske kan jag minska CRAP-värdet genom att lägga till
        fler enhetstester för dessa funktioner.
        Tittar jag på listan över de minst testade funktionerna ser jag också ett samma funktioner återkommer där.
        <p><img src="{{ asset('img/scr_least_tested.png') }}" alt="Least tested functions" title="Least tested functions"></p>

    </ul>

    <h3>Svagheter</h3>
    Det finns issues i koden som behöver rättas till både vad gäller logik och dokumentation. Kodtäckningen är dålig för controllers, där finns förbättringspotential.
    De funktioner med högt CRAP värde kan behöva fler enhetstester.


    <h2>Förbättringar</h2>
    <ul>
    <li>Issues</li>
    Jag vill rätta till de issues som hittats av Scrutinizer.
    <li>Komplexitet och Cohesion</li>
    Vissa Controller-klasser visar brister i principen om Single Responsibility.
    Dessa bör åtgärdas så att de inte hanterar flera ansvarsområden. Jag planerar att dela upp dessa controllers i flera klasser då de idag både används för att visa templates och för att generera JSON till API.
    <li>Kodtäckning och CRAP</li>
    De klasser som har sämst kodtäckning är Controllers. Jag tänker komplettera med fler tester för dessa. Funktioner med höga CRAP-värden ska testas bättre för att förbättra betyget.

    </ul>

    <h3>Analys efter genomförande</h3>
    <ul>
        <li>Komplexitet och Cohesion</li>
        Genom att dela upp Controllers i mindre klasser försvann felet med Single Responslbility i phpmetrics.
        Functionen Game::checkResult ansågs komplex. Jag delade därför upp den i flera separate funktioner vilket gav en mindre komplexitet.
        I samband med detta såg jag även nytta av mina enhetstester som hitta fel som jag gjorde. Phpmetric violation error försvann.
        <p class="bold">Phpmetrics Violations: 2 &#9658; <span class="new-value">0</span></p>


        <li>CRAP</li>
        Jag fick högt CRAP värde på CardControllerJson. För att minska detta lyfter jag ut hjälpfunktionerna createDeckOfCards och dealCardsToPlayer
        till en egen Service klass.
        Detta förbättrade Maintainability-värdet i phpmetrics och de röda bubblorna försvann.
        Några gula bubblor kvarstår, troligen på grund av ofullständig täckning av enhetstester.
        <br>
        <p><img src="{{ asset('img/phpmetrics_bubbles_after.png') }}" height="150" alt="phpmetrics" title="phpmetrics"></p>

        I Scrutinizer har funktioner med höga CRAP-värden (tidigare 12) nu minskats till 6, vilket innebär att koden blivit enklare att underhålla och ändra.
        <p><img src="{{ asset('img/crap_after.png') }}"  alt="CRAP after" title="CRAP after"></p>

        <li>Phpmetrics Komplexitet</li>Förändring av komplexitet efter uppdaterad kod. Förändringen ser inte jättestor ut men ger ändå en
        indikation på att det går åt rätt håll.
        <p class="bold">Average weighted method count by class (CC): 6.96 &#9658; <span class="new-value">6.04</span></p>
        <p class="bold">Average cyclomatic complexity by class: 3.29 &#9658; <span class="new-value">3</span></p>
        <p class="bold">Average relative System complexity: 86.18 &#9658;<span class="new-value">66.69</span></p>
        <p class="bold">Average bugs by class(Halstead): 0.13 &#9658;<span class="new-value">0.1</span></p>
        <p class="bold">Average defects by class (Kan): 0.38 &#9658;<span class="new-value">0.36</span></p>


        <li>Kodtäckning</li>
        Jag har lagt till enhetstester för framförallt Controllers vilket gjort att kodtäckningen stigit från 31% till 66%.
        Fortfarande inte helt komplett täckning men åt det bättre hållet. Jag tycker att det är svårt att skapa tester för Controllers, och
        lyckades heller inte skapa tester för de Controllers som skapar hanterar databasen.
        <p class="bold">Coverage: 31% &#9658; <span class="new-value">66%</span></p>

        <li>Sammanlagt betyg Scrutinizer</li>
        Alla förbättringar om gjort ovan ledde till att betyget i Scrutinizer steg från 9.97 till 10.
        <p class="bold">Scrutinizer betyg: 9.97% &#9658; <span class="new-value">10</span></p>
        <p><img src="{{ asset('img/scr_score.png') }}"  alt="Scrutinizer total score" title="Scrutinizer total score"></p>
    </ul>


    <h2>Diskussion</h2>
    Phpmetrics och Scrutinizer är båda väldigt bra verktyg för att hitta förbättringar som kan göras.
    Genom att regelbundet granska koden med hjälp av verktyg som dessa kan man tidigat i utvecklingen identifiera problemområden som hög komplexitet,
    och dålig kodtäckning. Det hjälper till att hålla koden lättunderhållen och fri från buggar.
    Jag tycker ibland dock att det är svårt att veta exakt vad som menas. Framförallt i phpmetrics får man ofta gissa sig till vilken funktion som
    behöver åtgärdas. Scrutinizer ger en tydligare rapport.
    <ul>
    <li>Fördelar: </li>
    Genom att följa principerna för "clean code" blir koden mer läsbar och lättare att underhålla.
    Regelbundna tester och analyser identifierar potentiella buggar tidigt, vilket minskar risken för kritiska fel i slutprodukten.
    En grupp av utvecklare får mer enhetlig kod som är lättare att sätta sig in i.
    <li>Nackdelar</li>
    Det är tidskrävande att analysera koden på detta sätt. Men på lång sikt kan det vara värt det.
    Det finns även en risk att man försöker göra koden överdrivet perfekt då man strävar efter högsta betyg i alla bedömningar. Ibland kan det räcka med lagom perfekt kod
    men samtidigt ha en medvetenhet om vad som kan förbättras.
    <li>Andra möjligheter för Clean Code</li>
    Alternativt till den automatiska tesningen kan man även göra en mer manuell granskning där man t.ex. granskar kollegornas kod.
    Även parprogrammering är bra för detta, då man med dubbla ögon kan identifiera problem och upprätthålla bra kodkvalitet.
    <li>Sammanfattning</li>
    Att testa och granska sin kod var mycket mer tidskrävande än vad jag trodde. Jag upplever att nästan lika mycket tid läggs på detta som
    att skriva själva koden. Men det är väldigt nyttigt, och även om jag inte lyckats lösa allt som phpmeterics och Scrutinizer påpekar, så
    harjag lärt mig otroligt mycket om hur jag bör tänka redan då jag skriver koden för att inte hamna i de största granskning-fällorna.
    </ul>




</div>
{% endblock %}
