{% extends "base.html.twig" %}

{% block title %}Card Deck{% endblock %}

{% block main %}
<div>

    <h2>{{ title }}</h2>

    {{ include('card/showCards.html.twig')}}

    <a href="{{ path('card_deck') }}">Sortera kortlek</a>
    <a href="{{ path('card_deck_shuffled') }}">Blanda kortleken</a>
    <a href="{{ path('card_deck_draw') }}">Dra ett kort</a>

</div>

{% endblock %}