{% extends "base.html.twig" %}

{% block title %}Card Deck{% endblock %}

{% block main %}
<h2>{{ title }}</h2>
<div class="deckContainer">

    <div class="cardAside">
        <a class="button" href="{{ path('card_deck_sort') }}">Sortera</a>
        <a class="button" href="{{ path('card_deck_shuffled') }}">Blanda</a>
        <a class="button"  href="{{ path('card_deck_draw') }}">Dra ett kort</a>
        <a class="button" href="{{ path('card_deck_init') }}">Ny kortlek</a>
    </div>

    {{ include('card/showCards.html.twig')}}

</div>

{% endblock %}