{% extends "base.html.twig" %}

{% block title %}Card Deck{% endblock %}

{% block main %}

<h2>{{ title }}</h2>
<div class="deckContainer">

    <div class="cardAside">
        <a class="button" href="{{ path('card_deck') }}">Visa kortlek</a>
        <a class="button" href="{{ path('card_deck_draw') }}">Dra ett kort</a>
        <a class="button" href="{{ path('card_deck_draw_num', {number: 5}) }}">Dra 5 kort</a>
        {% if cardsLeft == 0  %}
            <a class="button" href="{{ path('card_deck_init') }}">Ny kortlek</a>
        {% endif %}
    </div>

    {{ include('card/showCards.html.twig')}}

</div>

<p class="cardsLeft">Antal kort kvar: {{cardsLeft}}</p>



{% endblock %}