{% extends "base.html.twig" %}

{% block title %}Play game
{% endblock %}

{% block main %}


	<div class="game">

		<div class="info">

			{% if game.getCurrentPlayer() %}
				<h3>P책 tur att spela:
					{{ game.getCurrentPlayer().getName() }}
				</h3>
			{% endif %}

            {# Dra kort-knapp #}
			<button class="button" onclick="window.location.href='{{ path('game_draw_card') }}'"
                {% if game.getWinner() %} disabled {% endif %}>
				{{ game.getCurrentPlayer().getName() }}: Dra ett kort
			</button>

            {# Stanna-knapp #}
			<button class="button" onclick="window.location.href='{{ path('game_switch_player') }}'"
                {% if game.getWinner() or game.getPlayer().isStopped() %} disabled {% endif %}>
                Stanna
			</button>

            {# Nytt spel-knapp #}
			<button class="button" onclick="window.location.href='{{ path('game_init') }}'"
                {% if not game.getWinner() %} disabled {% endif %}>
                Nytt spel
			</button>

		</div>


        {# Spelare och banken #}
        {% for player in [game.getPlayer(), game.getDealer()] %}
            <div class="player {% if player == game.getCurrentPlayer() and not game.getWinner() %}active{% endif %}
                {% if player == game.getWinner() %}winner{% endif %}">
                <div class="header">
                    <h3>{{ player.getName() }}</h3>
                    <h3>{% if player == game.getWinner() %}Vinnare{% endif %}</h3>
                </div>
                Po채ng: {{ player.getScore() }}
                <div class="cardrow">
                    {% for card in player.getHand().getCards() %}
                        <div class="card {{ card.getSuit() }}">{{ card.getAsString() }}</div>
                    {% endfor %}
                </div>
                {% if player == game.getDealer() and game.getWinner() and game.getDealer().getScore() > 0 %}
                    <span class="score">Banken drog {{ game.getDealer().getHand().getCards()|length }} kort och stannade p책 {{ game.getDealer().getScore() }} po채ng.</span>
                {% endif %}
            </div>
        {% endfor %}

	</div>


{% endblock %}
