{% extends "base.html.twig" %}

{% block title %}Play game
{% endblock %}

{% block main %}


	<div class="game">


		<div class="info">

            {# Current player name #}
			{% if game.getCurrentPlayer() %}
				<h3>På tur att spela:
					{{ game.getCurrentPlayer().getName() }}
				</h3>
			{% endif %}

            <div class="flash">

            {# Bet form #}
            <form action="{{ path('game_bet') }}" method="post">
                <label for="bet_amount">Spelares insats:</label>
                <input type="number" id="bet_amount" name="bet_amount" min="10" max="{{ game.getPlayer().getMoney() }}" value="{{game.getBet()}}" required>
                <button class="button" {% if game.getPlayer().getScore() > 0 %} disabled {% endif %} type="submit">Ändra insats</button>
            </form>


            {# Flash message #}
            {{ include('flash.html.twig') }}


            </div>

            {# Dra kort-knapp #}
			<button class="button" onclick="window.location.href='{{ path('game_draw_card') }}'"
                {% if game.getWinner() %} disabled {% endif %}>
				{{ game.getCurrentPlayer().getName() }}: Dra ett kort
			</button>

            {# Stanna-knapp #}
			<button class="button" onclick="window.location.href='{{ path('game_switch_player') }}'"
                {% if game.getWinner() or game.getPlayer().isStopped() %} disabled {% endif %}>
                Stanna
			</button>

            {# Ny omgång-knapp #}
            {% if not game.gameIsOver() %}
			<button class="button" onclick="window.location.href='{{ path('game_new_round') }}'"
                {% if not game.getWinner() %} disabled {% endif %}>
                Ny runda
			</button>
            {% endif %}

            {# Nytt spel-knapp #}
            {% if game.gameIsOver() %}
			<button class="button" onclick="window.location.href='{{ path('game_init') }}'"
                {% if not game.getWinner() %} disabled {% endif %}>
                Nytt spel
			</button>
            {% endif %}

		</div>


        {# Spelare och banken #}
        {% for player in [game.getPlayer(), game.getDealer()] %}
            <div class="player {% if player == game.getCurrentPlayer() and not game.getWinner() %}active{% endif %}
                {% if player == game.getWinner() %}winner{% endif %}">

                <div class="header">
                    <h3>{{ player.getName() }} </h3>
                    <h3>{% if player == game.getWinner() %}
                        Vinnare (+{{ game.getBet()}} kr)
                        {% elseif game.getWinner() %}
                        Förlorare (-{{game.getBet() }} kr)
                        {% endif %}
                    </h3>
                </div>
                <p>Pengar: {{ player.getMoney() }} kr</p>
                <p>Poäng: {{ player.getScore() }}</p>
                <div class="cardrow">
                    {% for card in player.getHand().getCards() %}
                        <div class="card {{ card.getSuit() }}">{{ card.getAsString() }}</div>
                    {% endfor %}
                </div>
                {% if player == game.getDealer() and game.getWinner() and game.getDealer().getScore() > 0 %}
                    <span class="score">Banken drog {{ game.getDealer().getHand().getCards()|length }} kort och stannade på {{ game.getDealer().getScore() }} poäng.</span>
                {% endif %}
            </div>
        {% endfor %}

	</div>


{% endblock %}
